<p>
	<mat-toolbar color="primary">
	<p class="heading-tik-tok">Tik Tok Toe Game</p>
		<span class="example-spacer"></span>
     <div *ngIf="isSmallScreen">
        <button mat-button [matMenuTriggerFor]="menu"><span><fa-icon [icon]="faEllipsisV"></fa-icon></span></button>
        <mat-menu #menu="matMenu">
            <a target="_blank" style="color: white;" [href]=sanitizeGithubUrl()><button mat-menu-item><span><fa-icon [icon]="faGithub"></fa-icon></span>Github</button></a>
            <a target="_blank" style="color: white;" [href]=sanitizeLinkedInUrl()><button mat-menu-item><span><fa-icon [icon]="faLinkedin"></fa-icon></span>LinkedIn</button></a>
            <a target="_blank" style="color: white;" [href]=sanitizeTwitterUrl()><button mat-menu-item><span><fa-icon [icon]="faTwitter"></fa-icon></span>Twitter</button></a>
            <a target="_blank" style="color: white;" [href]=sanitizeLinkedInUrl()><button mat-menu-item><span><fa-icon [icon]="faInstagram"></fa-icon></span>Instagram</button></a>
        </mat-menu>
     </div>
     <div *ngIf="!isSmallScreen">
            <a target="_blank" style="color: white;" [href]=sanitizeGithubUrl()><span><fa-icon [icon]="faGithub"></fa-icon></span></a>
            <a target="_blank" style="color: white;" [href]=sanitizeLinkedInUrl()><span><fa-icon [icon]="faLinkedin"></fa-icon></span></a>
            <a target="_blank" style="color: white;" [href]=sanitizeTwitterUrl()><span><fa-icon [icon]="faTwitter"></fa-icon></span></a>
            <a target="_blank" style="color: white;" [href]=sanitizeLinkedInUrl()><span><fa-icon [icon]="faInstagram"></fa-icon></span></a>
     </div>
    </mat-toolbar>
    
</p>